/ServiciosTecno/dist/
/dist/
/ServiciosTecno/build/
/nbproject/private/
/TecnoVigilancia-ejb/nbproject/private/
/TecnoVigilancia/nbproject/private/
/ServiciosTecno/nbproject/private/
/TecnoVigilancia-ejb/build/
/build/
/TecnoVigilancia-ejb/dist/
/TecnoVigilancia/build/
/TecnoVigilancia/dist/
