<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
<!-- ************************************************************** -->
<!-- ************************************************************** -->
<!-- ************************************************************** -->
    <persistence-unit name="TecnovigilanciaEJBPU" transaction-type="JTA">
        <jta-data-source>java:/jboss/SybaseTecno</jta-data-source>
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <!-- ************************************************************** -->
        <!-- ************************************************************** -->
        <!-- ************************************************************** -->
        <properties>
            <property name="javax.persistence.validation.mode" value="AUTO" />
            <property name="hibernate.transaction.jta.platform" value="org.hibernate.service.jta.platform.internal.JBossAppServerJtaPlatform" />
            <property name="hibernate.show_sql" value="true"/>
            <property name="hibernate.format_sql" value="false"/>
            <property name="hibernate.use_sql_comments" value="false"/>
            <property name="hibernate.dialect" value="org.hibernate.dialect.SQLServer2012Dialect"/>
        </properties>
        <!-- ******************************************************* -->
        <!-- ******************************************************* -->
    </persistence-unit>
<!-- ************************************************************** -->
<!-- ************************************************************** -->
<!-- ************************************************************** -->
</persistence>
